html, body{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-family: Baskerville, serif;
	font-size: 14pt;
	color: #161616;
}

.imgContainer {
	z-index: -5;
	position: fixed;
	width: 30vw;
	height: 30vh;
	background-color: blue;
	opacity: 0;
	top: 0;
	left: 0;
}

.phraseHeadingContainer {
	margin: 0;
	z-index: -5;
	position: fixed;
	color: #161616;
/*	width: 100vw;
	height: 100vw;*/
	top: 0;
	left: 0;
	opacity: 0;
}

.phraseHeading {
	margin: 0;
	font-size: 7em;
}

.phrase {
	box-sizing: border-box;
	display: inline;
	padding: 10px 0px 10px 0px;
}

.show {
	z-index: 0;
	opacity: 1;
}

.progressContainer {
	z-index: 5;
	position: fixed;
	top: 30vh;
	height: 10vh;
	width: 20px;
	margin: 10px;
}

.progressCircle {
	height: 10px;
 	width: 10px;
 	margin: 5px;
  	border-radius: 50%;
  	background-color: #c6c6c6;
}

.scroll-container {
	z-index: 0;
	width: 100%;
	height:100%;
	overflow:hidden;
	background-color: #ededed;
}

#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:700%;
	width:2%;
}

.marker{
	width:100%; /* 100% of helper */
	height:20%; /* 1.25% of helper for 80 sections */
	/*border: 2px solid black;*/
	font-family: arial;
	font-weight: bold;
}

.title {
	z-index: 2;
	position: fixed;
	background-color: #161616;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
}

h1 {
	width: 100vw;
	position: fixed;
	margin: auto;
	color: white;
	font-size: 10vh;
	top: 40vh;
	text-align: center;
	transition: 0s;
}

.blurtext {
	color: transparent;
	text-shadow: #ffffff 0 0 30px;
	transition: 0s;
}

.section {
	z-index: 5;
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.sectionTextContainer {
	z-index: 5;
	position: fixed;
	left: 20vw;
	width: 40vw;
	top: 30vh;
}

.sectionHeader {
	color: #161616;
	font-style: italic;
}

.sectionText {
	color: #161616;
	left: 20vw;
}

.blurtext2 {
	color: transparent;
	text-shadow: #282828 0 0 10px;
	transition: 0s;
}

.declaration {
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.preamble {
	position: fixed;
	height: 100vh;
	width: 100vw;
}

.box{
	position: fixed;
	transition: 1s;
}

.imgSize1 {
	height: 30vh;
	width: 30vw;
}

.imgSize2 {
	height: 50vh;
	width: 50vw;
}

.imgSize3 {
	height: 70vh;
	width: 70vw;
}

.phraseSize1 {
	font-size: 3em;
}

.phraseSize2 {
	font-size: 6em;
}

.phraseSize3 {
	font-size: 9em;
}

.topEven1{
	top: 0%;
}

.topEven2{
	top: 20%;
}

.topEven3{
	top: 40%;
}

.topEven4{
	top: 60%;
}

.topOdd1{
	top: 10%;
}

.topOdd2{
	top: 30%;
}

.topOdd3{
	top: 50%;
}

.topOdd4{
	top: 70%;
}


.leftEven1{
	left: 0%;
}

.leftEven2{
	left: 20%;
}

.leftEven3{
	left: 40%;
}

.leftEven4{
	left: 60%;
}

.leftOdd1{
	left: 10%;
}

.leftOdd2{
	left: 30%;
}

.leftOdd3{
	left: 50%;
}

.leftOdd4{
	left: 70%;
}
/*

.image1 {
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image2 {
	background-image: url(../images/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image3 {
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image4 {
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image5 {
	background-image: url(../images/5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image6 {
	background-image: url(../images/6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image7 {
	background-image: url(../images/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image8 {
	background-image: url(../images/8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.image9 {
	background-image: url(../images/9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.body {
	color: black;
	position: fixed;
	line-height: 1.4em;
}

.font1 {
	font-family: 'Noto Serif SC', serif;
}

.font2{
	font-family: 'Crimson Text', serif;
}

.font3 {
	font-family: 'Ramaraja', serif;
}

.font4 {
	font-family: 'Cantata One', serif;
}

.font5 {
	font-family: 'Roboto', sans-serif;
}

.font6 {
	font-family: 'Montserrat', sans-serif;
}

.font7 {
	font-family: 'Archivo Narrow', sans-serif;
}

.font8 {
	font-family: 'Gaegu', cursive;
}

.font9 {
	font-family: 'Caveat', cursive;
}


.font10 {
	font-family: 'Source Code Pro', monospace;
}

.textWeight1 {
	font-weight: 400;
}


.textWeight2 {
	font-weight: 700;
}*/



