:root {
	--pledge-background-image1: url();
	--pledge-background-image2: url();
	--declaration-background-image1: url();
	--declaration-background-image2: url();
	--constitution-background-image1: url();
	--constitution-background-image2: url();
}

html, body{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-family: Heebo, sans-serif;
	font-size: 11pt;
	color: #161616;
	line-height: 1.3em;
	background-color: #f9f9f9;
	overflow: hidden;
/*	min-width: 880px;*/
}

a {
	text-decoration: none;
	color: black;
}


.smallTitle {
	position: fixed;
	top: 14px;
	left: 20px;
	margin: 0;
	/*z-index: 11; ---- stays on clicked overlay ----- */
	z-index: 12;
	cursor: pointer;
	background-color: transparent;
}

h3 {
	font-family: Baskerville, serif;
	font-weight: bold;
	font-size: 16pt;
	line-height: 12pt;
	text-align: left;
	margin: 0;
}

.header {
	z-index: 10;
	padding-left: 40px;
/*	padding: 10px;*/
	position: fixed;
	top: 0;
	width: 100%;
	color: #f9f9f9;
	background-color: #212121;
}

h1 {
	display: inline-block;
	font-size: 14pt;
	margin-right: 1em;
}

/*.itemsBox {
	z-index: 50;
	position: fixed;
	right: 70px;
	top: 70px;
	width: 55vw;
}

.images-container {
	position: absolute;
	width: 100%;
	background-color: blue;
	height: 40vh;
}

.articleContainer {
	box-sizing: border-box;
	background-color: red;
	position: absolute;
	width: 100%;
}*/


.archive-container {
	position: absolute;
	z-index: 2;
	margin: 0;
	width: 350vw;
	height: 100vh;
	/*background-color: #f9f9f9;*/
	background-color: transparent;
	opacity: 1;
	transition: 2s;
	transition: transform 0.5s;
	left: 0;
	overflow: hidden;
	padding: 0;
}

.view1 {
	transform: translateX(0vw);
}

.view2 {
	transform: translateX(-100vw);
}

.view3{
	transform: translateX(-200vw);
}

.group {
	/*width: 100vw;
	height: 100vh;*/
	display: inline-block;
	position: relative;
	float: left;
	overflow-y: scroll;
	width: calc(100vw - 80px);
	height: calc(100vh - 100px);
	background-color: #eeeeee;
	top:0;
	left: 0;
	margin: 40px 40px 70px 40px;
	box-sizing: border-box;
	padding: 30px;
	/*margin-bottom: 100px;*/
}

.itemsBox {
	background-color: #dddddd;
	z-index: 50;
	position: fixed;
	float: right;
	margin-left: 350px;
	margin-top: -30px;
	/*width: inherit;*/
	width: calc(100vw - 460px);
	/*width: 100%;*/
	height: calc(100vh - 100px);
}

.images-container {
	/*position: absolute;*/
	width: 100%;
	/*background-color: #bbbbbb;*/
	height: 50%;
	opacity: 0;
	transition: 0.5s;
}

.imgHere {
	width: calc(50% - 15px);
	height: calc(100% - 10px);
	margin-left: 10px;
	margin-top: 10px;
	/*transform: scale(0.95, 0.95);*/
	float: left;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

}

#pledgeImg1{
	background-image: var(--pledge-background-image1);
}

#pledgeImg2{
	background-image: var(--pledge-background-image2);
}

#declarationImg1{
	background-image: var(--declaration-background-image1);
}

#declarationImg2{
	background-image: var(--declaration-background-image2);
}

#constitutionImg1{
	background-image: var(--constitution-background-image1);
}

#constitutionImg2{
	background-image: var(--constitution-background-image2);
}

.articleContainer {
	/*position: absolute;*/
	box-sizing: border-box;
	display: inline-block;
	/*background-color: #bbbbbb;*/
	width: 100%;
	height: 50%;
	overflow: scroll;
	opacity: 0;
	transition: 0.5s;
}

.articleText {
	margin: 20px;
}

.articleText p, .articleText ul, .articleText ol {
	font-family: Heebo, sans-serif;
	font-size: 11pt;
}

.articleText a {
	display: block;
	margin: 10px;
	text-align: right;
	font-family: Heebo, sans-serif;
	font-size: 10pt;
	font-style: italic;
	color: black;
	text-decoration: underline;

}

.showImgArticle {
	opacity: 1;
	transition: 0.5s;
}

.list-container {
	min-width: 311px;
	position: relative;
	width: 30%;
	/*margin-left: 50px;*/
	/*transition: 0.8s;*/
}


.next {
	position: fixed;
	right: 0;
	padding: 100px 25px 100px 100px;
	/*top: calc(30vh + 14pt);*/
	top: calc(50vh - 90pt);
	cursor: pointer;
	/*color: black;*/
	color: #bbbbbb;
	pointer-events: auto;
	z-index: 10;
	/*visibility: visible;*/
	opacity: 1;
}

.previous {
	position: fixed;
	left: 30;
	padding: 100px 100px 100px 25px;
	/*top: calc(30vh + 14pt);*/
	top: calc(50vh - 90pt);
	cursor: pointer;
	/*color: black;*/
	color: #bbbbbb;
	pointer-events: auto;
	z-index: 10;
	visibility: visible;
	opacity: 1;
}

.hideArrow {
	opacity: 0;
	pointer-events: none;
}

.fas {
	/*position: absolute;
	bottom: 0;*/
	font-size: 30pt;
}


.background {
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #f9f9f9;

}

.bar {
	width: calc(100% - 80px);
	height: 5px;
	position: fixed;
	/*background-color: yellow;*/
	left: 40px;
	bottom: 40px;
	opacity: 1;
	z-index: 20;
/*	transition-delay: 1s;*/
	/*transition-delay: 0.5s;*/
}


.singleBar {
	position: relative;
	width: 32%;
	height: 100%;
	margin: auto;
	float: left;
	background-color: #eeeeee;
	transition: 0.5s;
	cursor: pointer;
}

.singleBar:hover {
		transform: scaleY(2);
		transition: 0.2s;
	}

#pledgeBar {
	margin-right: 2%;
}

#declarationBar {
	margin-right: 2%;
}
.selected {
	transition: 0.5s;
	background-color: #bbbbbb;
}

.phrase {
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
}

li {
	color: #aaaaaa;
	margin-bottom: 1em;
	cursor: default;
}

.thisLiHover {
	/*font-weight: bold;*/
	color: black;
	cursor: pointer;
	/*border-left: 2px solid;*/
	/*padding-left: 20px;*/
	/*transform: translateX(20px);*/
	/*font-style: italic;*/
}

.thisLiClicked {
	font-weight: bold;
	color: black;
	cursor: pointer;
}

/*li: active {
	font-style: italic;
}
*/


h2 {
	font-family: Baskerville, serif;
	font-size: 14pt;
}

/*a {
	margin-bottom: 100px;
}
*/
